<!DOCTYPE html>
<html lang="en">
{% load static %}


<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta http-equiv="Expires" content="0" />

	<title>Shubhamkaroti E-Clinic</title>

	<!-- Favicons -->
	<link type="image/x-icon" href="{% static 'user/img/titlelogo.png' %}" rel="icon">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'user/css/bootstrap.min.css' %}">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="{% static 'user/plugins/fontawesome/css/fontawesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'user/plugins/fontawesome/css/all.min.css' %}">
	<link href="//fonts.cdnfonts.com/css/samarkan" rel="stylesheet">


	<!-- Main CSS -->
	<link rel="stylesheet" href="{% static 'user/css/style.css' %}">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
			<script src="{% static 'user/js/html5shiv.min.js' %}"></script>
			<script src="{% static 'user/js/respond.min.js' %}"></script>
		<![endif]-->

</head>

<body>

	<!-- Main Wrapper -->
	<div class="main-wrapper">

		<!-- Header -->
		<header class="header">
			<nav class="navbar navbar-expand-lg header-nav">
				<div class="navbar-header">
					<a id="mobile_btn" href="javascript:void(0);">
						<span class="bar-icon">
							<span></span>
							<span></span>
							<span></span>
						</span>
					</a>
					<a href="{% url 'home' %}" class="navbar-brand logo">
						<img src="{% static 'user/img/ShubhamkarotiL1.png' %}" class="img-fluid" alt="Logo"
							style="width:auto;height:auto;">
					</a>
				</div>
				<div class="main-menu-wrapper">
					<div class="menu-header">
						<a href="index-2.html" class="menu-logo">
							<img src="{% static 'user/img/ShubhamkarotiL1.png' %}" class="img-fluid" alt="Logo">
						</a>
						<a id="menu_close" class="menu-close" href="javascript:void(0);">
							<i class="fas fa-times"></i>
						</a>
					</div>
					<ul class="main-nav">
						<li class="active">
							<a href="{% url 'home' %}">Home</a>
						</li>
						<li class="has-submenu">
							<a href="#">Doctors <i class="fas fa-chevron-down"></i></a>
							<ul class="submenu">
								<!--									<li><a href="{% url 'login' %}">Doctor Dashboard</a></li>-->
								<li><a href="{% url 'login' %}">Appointments</a></li>
								<li><a href="{% url 'login' %}">Schedule Timing</a></li>
								<li><a href="{% url 'login' %}">Patients List</a></li>
								<li><a href="{% url 'login' %}">Patients Profile</a></li>
								<li><a href="{% url 'login' %}">Invoices</a></li>
							</ul>
						</li>
						<li class="has-submenu">
							<a href="#">Patients <i class="fas fa-chevron-down"></i></a>
							<ul class="submenu">
								<li><a href="{% url 'login' %}">Search Doctor</a></li>
								<li><a href="{% url 'login' %}">Doctor Profile</a></li>
								<li><a href="{% url 'login' %}">Booking</a></li>
								<li><a href="{% url 'login' %}">Checkout</a></li>
							</ul>
						</li>
						<li>
							<a href="#">Blogs </a>
						</li>
						<li class="active">
							<a href="https://pmjay.gov.in/ " target="_blank">आयुष्मान भारत </a>
						</li>
						<li>
							<a href="https://www.cowin.gov.in/" target="_blank" style="color: crimson;">COVID Care</a>
						</li>
						{% if not request.user.is_authenticated %}
						<li class="login-link">
							<a href="{% url 'login' %}">Login / Signup</a>
						</li>
						{% else %}
						<li class="login-link">
							<a href="{% url 'logout' %}">Logout</a>
						</li>
						{% endif %}
					</ul>
				</div>
				<ul class="nav header-navbar-rht">
					<li class="nav-item contact-item">
						<div class="header-contact-img">
							<a href="https://api.whatsapp.com/send/?phone=919644344715&text&app_absent=0"><img
									src="..\static\user\img\icons8-whatsapp-40.png" alt="" height="30px"
									width="30px"></a>
							<!-- <i class="far fa-hospital"></i> -->
						</div>
						<div class="header-contact-detail">
							<p class="contact-header">Contact</p>
							<p class="contact-info-header">+91 9081138166</p>
						</div>
					</li>
					{% if not request.user.is_authenticated %}
					<li class="nav-item">
						<a class="nav-link header-login" href="{% url 'login' %}">LogIn/SignUp</a>
					</li>
					{% endif %}
				</ul>
			</nav>
		</header>

		{% block body %}
		{% endblock %}


		<footer class="footer" style=" background-color:#304297">

			<!-- Footer Top -->
			<div class="footer-top">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-3 col-md-6">

							<!-- Footer Widget -->
							<!--								<div class="footer-widget footer-about">-->
							<!--<div class="footer-logo">
							<img src="{% static 'user/img/favicon (1).png' %}" class="img-fluid" alt="Logo" style="width:130px;height:80px;">
									</div> -->
							<!--									<div class="footer-about-content">-->
							<!--										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>-->
							<!--										<div class="social-icon">-->
							<!--											<ul>-->
							<!--												<li>-->
							<!--													<a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>-->
							<!--												</li>-->
							<!--												<li>-->
							<!--													<a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>-->
							<!--												</li>-->
							<!--												<li>-->
							<!--													<a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>-->
							<!--												</li>-->
							<!--												<li>-->
							<!--													<a href="#" target="_blank"><i class="fab fa-instagram"></i></a>-->
							<!--												</li>-->
							<!--												<li>-->
							<!--													<a href="#" target="_blank"><i class="fab fa-dribbble"></i> </a>-->
							<!--												</li>-->
							<!--											</ul>-->
							<!--										</div>-->
							<!--									</div>-->
							<!--								</div>-->
							<!-- /Footer Widget -->

							<!--							</div>-->

							<!--							<div class="col-lg-3 col-md-6"> -->

							<!-- Footer Widget -->
							<div class="footer-widget footer-menu">
								<h2 class="footer-title">For Patients</h2>
								<ul>
									<li><a href="{% url 'login' %}"><i class="fas fa-angle-double-right"></i> Search for
											Doctors</a></li>
									<li><a href="{% url 'login' %}"><i class="fas fa-angle-double-right"></i> Login</a>
									</li>
									<li><a href="{% url 'login' %}"><i class="fas fa-angle-double-right"></i>
											Register</a></li>
									<li><a href="{% url 'login' %}"><i class="fas fa-angle-double-right"></i>
											Booking</a></li>
									<li><a href="{% url 'login' %}"><i class="fas fa-angle-double-right"></i> Patient
											Dashboard</a></li>
								</ul>
							</div>
							<!-- /Footer Widget -->

						</div>

						<div class="col-lg-3 col-md-6">

							<!-- Footer Widget -->
							<div class="footer-widget footer-menu">
								<h2 class="footer-title">For Doctors</h2>
								<ul>
									<li><a href="{% url 'login' %}"><i class="fas fa-angle-double-right"></i>
											Appointments</a></li>
									<li><a href="{% url 'login' %}"><i class="fas fa-angle-double-right"></i> Chat</a>
									</li>
									<li><a href="{% url 'login' %}"><i class="fas fa-angle-double-right"></i> Login</a>
									</li>
									<li><a href="{% url 'login' %}"><i class="fas fa-angle-double-right"></i>
											Register</a></li>
									<li><a href="{% url 'login' %}"><i class="fas fa-angle-double-right"></i> Doctor
											Dashboard</a></li>
								</ul>
							</div>
							<!-- /Footer Widget -->
						</div>

						<div class="col-lg-3 col-md-6">
							<!-- Footer Widget -->
							<div class="footer-widget footer-menu">
								<h2 class="footer-title">Find Us On</h2>
								<div class="footer-social-icon">

									<a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
									<a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
									<a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
									<!-- <a href="#"><i class="fas fa-map-marker-alt"></i></a> -->
								</div>
							</div>
							<!-- /Footer Widget -->

						</div>

						<div class="col-lg-3 col-md-6">

							<!-- Footer Widget -->
							<div class="footer-widget footer-contact">
								<h2 class="footer-title">Contact Us</h2>
								<div class="footer-contact-info">
									<div class="footer-address">
										<span><i class="fas fa-map-marker-alt"></i></span>
										<p>10 B NANDANVAN COLONY <br> Near little flower school,
											<br>Aurangabad(Maharashtra) </p>
									</div>
									<p>
										<i class="fas fa-phone-alt"></i>
										+91 90811 38166
									</p>
									<p class="mb-0">
										<i class="fas fa-envelope"></i>
										shubhamkarotiinfo@gmail.com
									</p>
								</div>
							</div>
							<!-- /Footer Widget -->

						</div>

					</div>
				</div>
			</div>
			<!-- /Footer Top -->

			<!-- Footer Bottom -->
			<div class="footer-bottom">
				<div class="container-fluid">

					<!-- Copyright -->
					<div class="copyright">
						<div class="row">
							<div class="col-md-6 col-lg-6">
								<div class="copyright-text">
									<p class="mb-0"><a>© Shubhamkaroti Group </a></p>
									<p class="mb-0"><a>The Murambikar's </a></p>
								</div>
							</div>
							<div class="col-md-6 col-lg-6">

								<!-- Copyright Menu -->
								<div class="copyright-menu">
									<ul class="policy-menu">
										<li><a>All Rights Reserved</a></li>
										<li><a>2021-22</a></li>
									</ul>
								</div>
								<!-- /Copyright Menu -->

							</div>
						</div>
					</div>
					<!-- /Copyright -->

				</div>
			</div>
			<!-- /Footer Bottom -->

		</footer>
		<!-- /Footer -->

	</div>
	<!-- /Main Wrapper -->

	<!-- jQuery -->
	<script src="{% static 'user/js/jquery.min.js' %}"></script>

	<!-- Bootstrap Core JS -->
	<script src="{% static 'user/js/popper.min.js' %}"></script>
	<script src="{% static 'user/js/bootstrap.min.js' %}"></script>

	<!-- Slick JS -->
	<script src="{% static 'user/js/slick.js' %}"></script>

	<!-- Custom JS -->
	<script src="{% static 'user/js/script.js' %}"></script>

	<script>
		window.watsonAssistantChatOptions = {
			integrationID: "cfc02696-884c-4ad8-8911-b823a61ea9e2", // The ID of this integration.
			region: "eu-gb", // The region your integration is hosted in.
			serviceInstanceID: "e74f19c6-89c9-4adf-b0cc-9eb2b9746871", // The ID of your service instance.
			onLoad: function(instance) { instance.render(); }
		  };
		setTimeout(function(){
		  const t=document.createElement('script');
		  t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js"
		  document.head.appendChild(t);
		});
	  </script>

</body>


</html>